<h1>List of Shleters...</h1>
<div class="row">
  {{#each shelter}}

  <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
    <div class="mx-3 mt-4 card">
      <img class="card-img-top" src="public/images/users/{{this.profilePicture}}" alt="garbage" />
      <div class="card-body">
        <h2 class="card-title">Name: {{name}}</h2>
        <p class="card-text">Biography: {{biography}}</p>
        <a href="/sheltersAndRescue/{{this._id}}" class="btn btn-primary stretched-link">View Shelter</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Website: {{website}}</small>
      </div>
    </div>
  </section>
  {{/each}}
</div>