<h1 class="listofshelters">List of Shelters.</h1>
<div class="row">
  {{#each shelter}}

  <section class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
    <div class="mx-3 mt-4 card">
      <img class="card-img-top" src="public/images/users/{{this.profilePicture}}" alt="shleter" />
      <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">{{biography}}</p>
        <a href="/sheltersAndRescue/{{this._id}}" class="btn btn-primary stretched-link">View Shelter</a>
      </div>
      <div class="card-footer">
        <p>Website: {{website}}</p>
      </div>
    </div>
  </section>
  {{/each}}
</div>