<h1>List of Shleters...</h1>

{{#each shelter}}

{{!-- <p>{{name}} </p> --}}
{{!-- <a href="/shelter/{{this.shelter.id}}">{{shelter.name}}</a><br> --}}
<div>
    <img src="/public/images/DS with cat.jpg" alt="Sandwich" style="width:50%">
    <h3>{{name}}</h3>
    <p>{{email}}</p>
    <p>{{biography}}</p>
    {{!-- <p>{{location.streetAddress1}}</p> --}}
    <p>{{website}}</p>

</div>

{{/each}}