<main>
    <div class="pet_info">
        <br>
        <h1>Meet {{pet.petName}}!</h1>
        {{#if isThisShelterLoggedIn}}
        <form id="remove-pet" method="POST" action="/pets/delete">
            <input type="hidden" id="petId" name="petId" value="{{pet._id}}">
            <input type="hidden" id="shelterId" name="shelterId" value="{{pet.associatedShelter}}">
            <input type="submit" class="btn btn-danger" value="Remove Pet"/>
        </form>
        {{/if}}
        <br>
        <section class="pet-carousel-bg w-100">
            <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#each pet.petPictures}}
                    <li data-target="#carousel-indicators" data-slide-to="{{@index}}" {{#if @first}} class="active"
                        {{/if}}></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each pet.petPictures}}
                    <div class="carousel-item{{#if @first}} active{{/if}}">
                        <img class="img-fluid" src="../../public/images/pets/{{this}}" alt="{{pet.petName}}">
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!--<span class="fas fa-heart"></span>-->
        <br>
        <div class="card-deck">
            <div class="card text-center">
                <div class="card-block px-3 py-3">
                <h3 class="card-header bg-card-header" id="info">Basic Information About This {{pet.animalType}}</h5>
                    <div class="card-body">
                        <h5>Breed(s)</h5> 
                        <p>{{#each pet.breeds}}{{this}}{{#unless @last}} / {{/unless}}{{/each}}</p>
                        <h5>Sex</h5> 
                        <p>{{pet.sex}}<p>
                        <h5>Age Group</h5> 
                        <p>{{pet.ageGroup}}</p>
                        <h5>Managed By</h5>
                        <p><a href="/shelters/{{shelter._id}}">{{shelter.name}}</a></p>
                        <h5>Adoption Fee</h5>
                        <p>{{pet.adoptionFee}}</p>
                    </div>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-block px-3 py-3">
                <h3 class="card-header bg-card-header" id="location">General Location</h5>
                    <div class="card-body">
                        <p>Somewhere in {{pet.currentLocation}}</p>
                        <p class="small">This is the general location where the pet is currently being cared for. Please message {{shelter.name}} for more information.</p>
                        <iframe src="https://maps.google.com/maps?q={{latLong}}&z=15&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing">
            <div class="container-fluid">
                <div class="card">
                    <div class="card text-center">
                        <h3 class="card-header bg-card-header" id="bio">Biography</h5>
                        <div class="card-body">
                            {{pet.biography}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing">
            <div class="container-fluid">
                <div class="card">
                    <div class="card text-center">
                        <h3 class="card-header bg-card-header" id="details">Details</h5>
                        <div class="card-body">
                            <h5>Physical Characteristics</h5>
							{{#each physicalCharacteristics}}<span class="badge badge-success">{{this}}</span> {{/each}}
							<br>
							<h5>Behavior and Lifestyle</h5>
							{{#each otherFilters}}<span class="badge badge-success">{{this}}</span> {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>Are you interested in this pet? Let {{shelter.name}} know!</h3>
    {{#if isAuthenticated}}
    <form id="send-message-form" method="POST" action="/pets/inquire">
        <input type="hidden" id="recipient" name="recipient" value="{{shelter._id}}">
        <input type="hidden" id="user" name="user" value="{{userId}}">
        <input type="hidden" id="petId" name="petId" value="{{pet._id}}">
        <textarea id="type-message" class="form-control" name="reply"class="fill-width">Hello! I'm interested in learning more about {{pet.petName}}.</textarea>
        <br>
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Inquire"/>
        </div>
    </form>
    {{#if messageSent}}
    <h3>Inquiry sent! Make sure to check your <a href="/messages">messages</a> for a reply.</h3>
    {{/if}}
    {{else}}
    <h5>You must be logged in to a pet owner account to send a message! <a href="/login">Log in here.</a></h5>
    {{/if}}
    <br><br>
</main>
<script src='../../public/js/pet-single.js'></script>