<main class="container">
    <h1>Messages</h1>
    <div class="row">
        <div class="col-4">
            {{#each thread}}
            <div class="row message-threads" id="{{this.participants.[1]}}">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            ID: {{this.participants.[1]}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-8 list-group-item">
            <div class="position-relative">
                <div class="messages-container p-2" id="message-container"{{#if reloaded}}{{else}} hidden{{/if}}>
                    {{#each thread}}
                    {{#each this.messages}}
                    <div class="message-{{ifUserIsSender this.sender ../../userId}} pb-4 {{../this.participants.[1]}} {{ifMessageSent ../../recipient ../this.participants.[1]}}">
                        <div>
                            <div class="text-success small px-1 text-nowrap message-timestamp">{{formatDate this.timestamp "LLL"}}</div>
                        </div>
                        <div class="flex-shrink-1 bg-{{ifUserIsSender this.sender ../../userId}} rounded py-1 px-2 mr-1">
                            <div class="font-weight-bold mb-1">{{this.sender}}</div>
                            {{this.messageText}}
                        </div>
                    </div>
                    {{/each}}
                    <form id="send-message-form" class="{{this.participants.[1]}} {{ifMessageSent ../recipient this.participants.[1]}} flex-container" method="POST" action="/messages">
                        <input type="text" id="recipient" name="recipient" value="{{this.participants.[1]}}" hidden>
                        <textarea id="type-message" name="reply" placeholder="Type a message..." class="fill-width"></textarea>
                        <input type="submit" class="btn" value="Send"/>
                    </form>
                    <div id="form-messages"></div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <br>
</main>
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
<script src='../../public/js/messages.js'></script>