{{#if isLoggedIn}}
  <div id="username">
    <h2>Welcome {{username}}</h2>
  </div>
{{/if}}

<div id="displayPets">
  {{#each pet}}

    <div>
      <br />
      <img
        src="/public/images/pets/{{{petName}}}1.jpg"
        alt="petPhoto:{{petName}}"
      />
      <br />
      Name:
      {{petName}}<br />
      Pet Type:
      {{animalType}}<br />
      Breed:
      {{breeds}}<br />
      Biography:
      {{biography}}<br />
      <br />
    </div>
  {{/each}}
</div>