<div>
  <h1>
    {{#if isLoggedIn}}
      Hello
      {{username}}!
    {{/if}}
    Welcome to GetAPet!
  </h1>
  <h2>You can adore all our fur babies below or check the Pet Search above 🐶</h2>
  <p id="homepagePetCounter" class="text-white bg-dark">Sitewide Pet Adopted
    Counter:
    {{petCount}}
    💖</p>
  {{#if isUserVolunteer}}<p
      id="homepageUserVolunteer"
      class="text-white bg-info"
    >⭐ VOLUNTEER ⭐</p>
  {{/if}}
</div>

<div id="displayPets">
  <div id="homepagePetCatalouge" class="container">
    <div class="row">
      {{#each pet}}
        <div class="col-md-4 col-sm-6">
          <div
            id="homepagePetCard_{{_id}}"
            class="card text-center homepagePetCard"
          >
            <div class="card-block">
              <img
                id="homepagePetCardImage_{{_id}}"
                src="../public/images/pets/{{petPhoto}}"
                alt="{{petName}}-pet-image"
                class="img-fluid homepagePetCardImage"
              />
              <div class="card-title">
                <h3>{{petName}}</h3>
              </div>
              <div
                id="homepagePetCardBio_{{_id}}"
                class="card-text homepagePetCardBio"
              >{{biography}}</div>
              <a
                id="homepagePetCardButton_{{_id}}"
                href="/pets/pet/{{_id}}"
                class="btn btn-success homepagePetCardButton"
              >Know More</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>