<div class="user-bg container-fluid">
    <div class="row spacing">
        <div class="container-fluid">
            {{#if error}}
                <div class="card errorSection error">
                    <p>{{error}}</p>
                </div>
            {{/if}}

            {{#if alertMessage}}
                {{!-- <div>
                    <p id = "alertBox" hidden>{{alertMessage}}</p>
                </div> --}}
                <div class="card success">
                    <p>{{alertMessage}}</p>
                </div>
            {{else}}  
                {{!-- <div>
                    <p id ="alertBox" hidden></p>
                </div>   --}}
            {{/if}}
            <div class="card">
                <p class="card-header cardheadProfile" id="user-photo">Profile Picture</p>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            {{#if petOwner.profilePicture}}
                                <img class="profile-picture rounded-circle" src="../public/images/users/{{petOwner.profilePicture}}" alt="{{petOwner.fullName.firstName}}" />
                            {{else}}
                                <img class="profile-picture rounded-circle" src="../public/images/users/no_image.png" alt="{{petOwner.fullName.firstName}}" />
                            {{/if}}
                        </div>
                    
                        <form id="imageForm" method="POST" action="/petOwner/changeProfileImage" enctype="multipart/form-data" onsubmit="return(validateImage());">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="profilePicture" class="col-form-label">Choose an image from your computer</label>
                                    <input class = "form-control" type="file" id="profilePicture" name="profilePicture" accept="image/*"/>
                                </div> 
                            </div>
                             <div class="form-group row">
                                <div class="col-sm-10">
                                     <button class="btn" type="submit">Change</button>
                                </div>
                             </div>       
                        </form> 
                        {{!-- <div class="form-group row">
                             <div id= "alertMessageDiv" class="col-sm-12">
                                 {{#if alertMessage}}
                                    <p>{{alertMessage}}</p>
                                 {{/if}}     
                             </div>
                        </div>  --}}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile" id="user-password">Change Password</p>
                <div class="card-body">
                    <form id="passwordForm" method="POST" action="/petOwner/changePassword" onsubmit="return(validatePassword());">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="password" class="col-form-label">Enter New Password</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password" id="password"
                                    value="{{petOwner.password}}" placeholder="Enter New Password" required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="editPassword">Edit</button>
                                <button class="btn btn-success" id="savePassword" type="submit">Save</button>
                            </div>
                        </div>
                        {{!-- <div class="form-group row">
                             <div class="col-sm-12">
                                 <p>{{alertMessage}}</p>
                             </div>
                        </div> --}}
                    </form>
                </div>
                {{!-- alt="{{petOwner.fullName.firstName}}" --}}
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile" id="info">Information</p>
                <div class="card-body">
                    <form id="userInfo" method="POST" action="/petOwner" onsubmit="return(validateForm());">
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Username</label>
                            <label for="firstName" class="col-sm-4 col-form-label">Firstname</label>
                            <label for="lastName" class="col-sm-4 col-form-label">Lastname</label>
                           
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input class="form-control" name="email" id="email"
                                    value="{{petOwner.email}}" placeholder="email" type="email" required/>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    value="{{petOwner.fullName.firstName}}" placeholder="firstname" required/>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    value="{{petOwner.fullName.lastName}}" placeholder="lastname" required/>
                            </div>
                        </div> 

                        <div class="form-group row">
                            <label for="dateOfBirth" class="col-sm-4 col-form-label">Date Of Birth</label>
                            <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number</label>

                            <label for="zipCode" class="col-sm-4 col-form-label">Zipcode</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                                    value="{{petOwner.dateOfBirth}}" required/>
                            </div>
                            <div class="col-sm-4">
                            {{!-- <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
                                    value="{{petOwner.phoneNumber}}" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/>--}}
                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                    value="{{petOwner.phoneNumber}}" placeholder="123-456-7890" required/>
   
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="zipCode" id="zipCode"
                                    value="{{petOwner.zipCode}}" placeholder="Eg. 07307" min="00501" max="99950" required/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="biography" class="col-sm-12 col-form-label">Biography</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="biography" id="biography"
                                    value="{{petOwner.biography}}" placeholder="biography"/>
                            </div>
                        </div>
                        {{!-- <div>
                            <label for="userid">User id</label>
                            <input type="text" name="userid" id="userid" value="{{petOwner._id}}/">
                        </div> --}}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="editData">Edit</button>
                                <button class="btn btn-success" id="saveData" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile">Favorite Pets</p>
                <div class="card-body">
                    {{#if petOwner.favoritedPetsArray.length}}
                    <ul>
                        {{#each petOwner.favoritedPetsArray}}
                        <li>
                            <p>{{this.name}}</p>
                            <img class="profile-picture rounded-circle" src="../public/images/pets/{{this.image}}" alt="{{this.name}}" />
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p>You don't have any favorite pets yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile">Shelter Reviews</p>
                <div class="card-body">
                    {{#if petOwner.shelterReviewsGivenArray.length}}
                    <ul>
                        {{#each petOwner.shelterReviewsGivenArray}}
                        <li>
                            <p>Shelter Name: {{this.name}}</p>
                            <p>Review Posted On: {{this.reviews.reviewDate}}</p>
                            <p>Shelter Rating: {{this.reviews.rating}}/5</p>
                            <p>Your Comments: {{this.reviews.reviewBody}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p>You don't have any shelter reviews.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile">Feedback</p>
                <div class="card-body">
                    {{#if petOwner.websiteFeedbackGiven.length}}
                        <ul>
                            {{#each petOwner.websiteFeedbackGiven}}
                                <li>
                                    <p>Website Rating: {{this.rating}}/5</p>
                                    <p>Feedback Given On: {{this.date}}</p>
                                    <p>Your Comments: {{this.feedback}}</p>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                    <p>You haven't given feedback yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="">Reported Posts</h5>
                <div class="card-body"> </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="">Donations </h5>
                <div class="card-body"> </div>
            </div>
        </div>
    </div> --}}

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <p class="card-header cardheadProfile">Volunteer</p>
                <div class="card-body"> 
                    <form action = "/petOwner/changeVolunteer" method = "POST" id = "isvolunteerForm">
                           {{#if petOwner.isVolunteerCandidate}}
                                <p>You are a volunteer.</p>
                                    <button class="btn" id="withdrawVolunteer" type="submit">Withdraw</button>
                                    <input type="text" id = "status" name = "status" value="false" hidden>
                              
                            {{else}}
                                <p>You are not a volunteer.</p> 
                                    <button class="btn" id="applyToBeVolunteer" type="submit">Apply</button>
                                    <input type="text" id = "status" name = "status" value="true" hidden>
                            {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div> 

</div>
