<div class="user-bg container-fluid">
    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="user-photo">Profile Picture</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            {{#if petOwner.profilePicture}}
                                <img class="profile-picture rounded-circle" src="../public/images/users/{{petOwner.profilePicture}}" alt="{{petOwner.fullName.firstName}}" />
                            {{else}}
                                <img class="profile-picture rounded-circle" src="../public/images/users/no_image.png" alt="{{petOwner.fullName.firstName}}" />
                            {{/if}}
                        </div>
                        {{!-- <div class="col-sm-10">
                            <p>Choose an image from your computer</p>
                            <button class="btn">Change</button>
                            <button class="btn">Delete</button>
                        </div> --}}

                        <form id="imageForm" method="POST" action="/petOwner/changeProfileImage" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="image" class="col-form-label">Choose an image from your computer</label>
                                    <input class = "form-control" type="file" id="profilePicture" name="profilePicture" accept="image/*"/>
                                </div> 
                            </div>
                             <div class="form-group row">
                                <div class="col-sm-10">
                                     <button class="btn" type="submit">Change</button>
                                </div>
                             </div>       
                        </form> 
                         <div class="form-group row">
                             <div class="col-sm-12">
                                 <p>{{alertMessage}}</p>
                             </div>
                        </div> 

                    </div>
                </div>
                {{!-- alt="{{petOwner.fullName.firstName}}" --}}
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="user-photo">Change Password</h5>
                <div class="card-body">
                    <form id="passwordForm" method="POST" action="/petOwner/changePassword">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="password" class="col-form-label">Enter New Password</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password" id="password"
                                    value="{{petOwner.password}}" placeholder="Enter New Password"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="editPassword">Edit</button>
                                <button class="btn btn-success" id="savePassword" type="submit">Save</button>
                            </div>
                        </div>
                        {{!-- <div class="form-group row">
                             <div class="col-sm-12">
                                 <p>{{alertMessage}}</p>
                             </div>
                        </div> --}}
                    </form>
                </div>
                {{!-- alt="{{petOwner.fullName.firstName}}" --}}
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Information</h5>
                <div class="card-body">
                    <form id="userInfo" method="POST" action="/petOwner" onsubmit="return(validateForm());">
                        <div class="form-group row" id="formSpacing">
                            <label for="email" class="col-sm-4 col-form-label">Username</label>
                            <label for="firstname" class="col-sm-4 col-form-label">Firstname</label>
                            <label for="lastname" class="col-sm-4 col-form-label">Lastname</label>
                            {{!-- <label for="username" class="col-sm-6 col-form-label">username</label> --}}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="email" id="email"
                                    value="{{petOwner.email}}" placeholder="email" type="email"></input>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                    value="{{petOwner.fullName.firstName}}" placeholder="firstname" required></input>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                    value="{{petOwner.fullName.lastName}}" placeholder="lastname" required></input>
                            </div>
                        </div>

                        <div class="form-group row" id="formSpacing">
                            <label for="dateOfBirth" class="col-sm-4 col-form-label">Date Of Birth</label>
                            <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number</label>

                            <label for="zipCode" class="col-sm-4 col-form-label">Zipcode</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                                    value="{{petOwner.dateOfBirth}}" placeholder="Date Of Birth" required></input>
                            </div>
                            <div class="col-sm-4">
                            {{!-- <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber"
                                    value="{{petOwner.phoneNumber}}" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></input> --}}
                            <input type="number" class="form-control" name="phoneNumber" id="phoneNumber"
                                    value="{{petOwner.phoneNumber}}" placeholder="123-456-7890" required></input>
   
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="zipCode" id="zipCode"
                                    value="{{petOwner.zipCode}}" placeholder="Eg. 07307" min="00501" max="99950" required></input>
                            </div>
                        </div>

                        <div class="form-group row" id="formSpacing">
                            <label for="biography" class="col-sm-12 col-form-label">Biography</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="biography" id="biography"
                                    value="{{petOwner.biography}}" placeholder="biography"></input>
                            </div>
                        </div>
                        {{!-- <div>
                            <label for="userid">User id</label>
                            <input type="text" name="userid" id="userid" value="{{petOwner._id}}"></input>
                        </div> --}}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" id="editData">Edit</button>
                                <button class="btn btn-success" id="saveData" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Favorite Pets</h5>
                <div class="card-body">
                    {{#if petOwner.favoritedPetsArray.length}}
                    <ul>
                        {{#each petOwner.favoritedPetsArray}}
                        <li class="favPets">
                            <p>{{this.name}}</p>
                            <img class="profile-picture rounded-circle" src="../public/images/pets/{{this.image}}" alt="{{this.name}}" />
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p>You don't have any favorite pets yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Shelter Reviews</h5>
                <div class="card-body">
                    {{#if petOwner.shelterReviewsGivenArray.length}}
                    <ul>
                        {{#each petOwner.shelterReviewsGivenArray}}
                        <li>
                            <p>Shleter Name: {{this.name}}</p>
                            <p>Review Posted On: {{this.reviews.reviewDate}}</p>
                            <p>Shelter Rating: {{this.reviews.rating}}/5</p>
                            <p>Your Comments: {{this.reviews.reviewBody}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p>You don't have any shelter reviews.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Feedback</h5>
                <div class="card-body">
                    {{#if petOwner.websiteFeedbackGiven.length}}
                        <ul>
                            {{#each petOwner.websiteFeedbackGiven}}
                                <li>
                                    <p>Website Rating: {{this.rating}}/5</p>
                                    <p>Feedback Given On: {{this.date}}</p>
                                    <p>Your Comments: {{this.description}}</p>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                    <p>You haven't given feedback yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Reported Posts</h5>
                <div class="card-body"> </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Donations </h5>
                <div class="card-body"> </div>
            </div>
        </div>
    </div>

    <div class="row spacing">
        <div class="container-fluid">
            <div class="card">
                <h5 class="card-header" id="info">Volunteer</h5>
                <div class="card-body"> </div>
            </div>
        </div>
    </div> --}}

</div>